.App {
  text-align: center;
}

.main-bg {
  height: 300px;
  /* background-image: url(./img/bg.png); */
  background-size: cover;
  background-position: center;
}

.list-img {
  width: 250px;
}

.start {
  opacity: 0;
  scale: 0;
  height: 100px;
}

.end {
  opacity: 1;
  scale: 1;
  transition: all 0.5s;
  height: 100px;
  background: #eee;
}


